<div class="container">
<div class="shadow p-3 mb-5 bg-white rounded">

	<h1>User#show</h1>
	<li><%=@user.id%></li>
	<li><%=@user.first_name%></li>
	<li><%=@user.last_name%></li>
	<li><%=@user.description%></li>
</div>	
</div>
