  <div class="container">
    <%if !current_user %>
    <div class="jumbotron">
        <h1 class="display-3">WELCOME TO THE EVENTBRITE</h1>
        <p class="lead">This is  is the website that we can create a simple event. If you want to create an event  for other people here and from about Please subscribe.</p>
        <hr class="my-4">
        <p>I am sure that you will get more advantages of it</p>
    </div>
    <%else %>
    <div class="jumbotron">
        <h1 class="display-3">WELCOME USER</h1>
        <p class="lead">This is  is the website that we can create a simple event. If you want to create an event  for other people here You can create it now.</p>
        <hr class="my-4">
        <p>I am sure that you will get more advantages of it</p>
    </div>
    <%end%>
  </div>