<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New Event:
    </p>
    <p>
      Maintenant tu a un nouveau événement via : <%= @url %>.
    </p>
    <p> À très vite sur zanfoana.com !


  </body>
</html>